*,
*::before,
*::after {
  box-sizing: border-box;
  caret-color: transparent;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

body {
    margin: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.start-screen {
    background:
    url("noise_transparent.png") repeat,
    radial-gradient(237.5% 111.8% at 0% 0%, #5B483A 0%, #262425 100%),
    #211F20;
    min-height: 908px;
    display: flex;
    flex-direction: column;
}

.header {
    padding-top: 30px;
}

.header-our-pets {
    padding-top: 30px;
    padding-bottom: 30px;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-inner-pets {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 35px;
    margin: 0;
    padding: 0;

}


.nav-link {
    text-decoration: none;
    color: var(--color-dark-s, #CDCDCD);

    /* paragraph-l */
    font-family: Arial;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 24px */
}

.nav-link:hover {
    color: var(--color-light-s, #FAFAFA);
}


.nav-link-pets {
    text-decoration: none;
    color: var(--color-dark-s, #CDCDCD);

    /* paragraph-l */
    font-family: Arial;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 24px */
}
.nav-link-pets:hover {
    color: var(--color-dark-3xl, #292929);
}

.link-active {
    color: var(--color-light-s, #FAFAFA);
    border-bottom: 3px solid #F1CDB3;

    padding-bottom: 4px;
    font-family: Arial;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
}
.link-active-pets {
    color: var(--color-dark-3xl, #292929);
    border-bottom: 3px solid #F1CDB3;

    padding-bottom: 4px;
    font-family: Arial;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 24px */

}

.logo-title {
    color: var(--color-primary, #F1CDB3);
    text-decoration: none;

    font-family: Georgia;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 1.92px;
}

.logo-title-pets {
    color: var(--color-dark-l, #545454);
    text-decoration: none;
    /* logo_title */
    font-family: Georgia;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%; /* 35.2px */
    letter-spacing: 1.92px;
    }

.logo-subtitle {
    color: var(--color-light-xl, #FFF);
    margin: 0;

    font-family: Arial;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 1.3px;
}

.logo-subtitle-pets {
    color: var(--color-dark-3xl, #292929);
    margin: 0;
    /* logo_subtitle */
    font-family: Arial;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.3px;
}

.logo {
  display: flex;
  flex-direction: column;
  gap: 10px;

}





.start-screen-content {
  flex: 1;
  padding-top: 90px;       /* как в макете */
  display: flex;
  justify-content: space-between;
  align-items: center;     /* текст по центру по вертикали */
  gap: 42px;
}



.hero-text {
    margin: 42px 0;
    line-height: 24px;
    max-width: 460px;
    color: var(--color-dark-s, #CDCDCD);

    font-family: Arial;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;

}

.hero-title {
    color: var(--color-light-xl, #FFF);
    margin: 0;


    font-family: Georgia;
    font-size: 44px;
    font-style: normal;
    font-weight: 400;
    line-height: 57.2px;
}

.hero-content {
  flex: 0 0 460px;
  padding-bottom: 60px;   /* подбери 40–90px под макет */
}

.hero {
  flex: 1;                 /* занимает всё место под хедером */
  display: flex;
}

.hero-image {
  align-self: flex-end;    /* а картинка — вниз */
  display: block;
}



.hero-button {
    display: inline-block;
    padding: 15px 45px;
    border-radius: 100px;
    background: var(--color-primary, #F1CDB3);

    text-decoration: none;
    color: var(--color-dark-3xl, #292929);
    font-family: Georgia;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 22.1px */
    letter-spacing: 1.02px;
}

.hero-button:hover {
    background: var(--color-primary-light, #FDDCC4);
}


.burger-toggle {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.burger {
  display: none;
  width: 44px;
  height: 44px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  transition: transform 0.25s ease;
}

.burger-line {
  width: 30px;
  height: 2px;
  background: #F1CDB3;
  position: relative;
}

.burger-line::before,
.burger-line::after {
  content: "";
  position: absolute;
  left: 0;
  width: 30px;
  height: 2px;
  background: #F1CDB3;
}

.burger-line::before { top: -8px; }
.burger-line::after { top: 8px; }

.burger-toggle:checked + .burger {
  transform: rotate(90deg);
}

.overlay {
  display: none;
}



.about {
  padding: 80px 0 100px;
  background: #fff;
}

.about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
}

.about-title {
    max-width: 370px;
    margin: 0;
    color: var(--color-dark-l, #545454);

    font-family: Georgia;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 2.1px;
}

.about-text {
    margin: 0;

    color: var(--color-dark-xl, #4C4C4C);

    font-family: Arial;

    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}

.about-image {

    width: 300px;
    height: auto;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 25px;
  max-width: 430px;
}

.pets {
    background: var(--color-light-l, #F6F6F6);
    padding: 80px 0 100px;
}

.pets-content {
    display: flex;
    max-width: 1200px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
}
.our-pets-content {
    display: flex;
    max-width: 1200px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 45px;
}

.slider {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 53px;
}

.pets-title {
    max-width: 400px;
    color: var(--color-dark-l, #545454);
    text-align: center;
    margin: 0;

    font-family: Georgia;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 2.1px;
}

.pets-cards {
    display: flex;
    gap: 90px;
}

.navigate-arrow {
    display: flex;
    gap: 20px;
}

.arrow-button-page {
    display: flex;
    width: 52px;
    height: 52px;
    padding: 14px 0 15px 0;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border: none;
    border-radius: 100px;
    border: 2px solid var(--color-primary, #F1CDB3);
    background: none;

    color: var(--color-dark-3xl, #292929);
    text-align: center;

    /* h4 */
    font-family: Georgia;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 115%; /* 23px */
    letter-spacing: 1.2px;
}
.arrow-button-page:hover {
    border: none;
    background: var(--color-primary, #F1CDB3);
    color: var(--color-dark-3xl, #292929);
}
.arrow-button-page:active {
    display: flex;
    width: 52px;
    height: 52px;
    padding: 14px 0 15px 0;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border: none;
    border-radius: 100px;
    
    background: var(--color-primary, #F1CDB3);

    color: var(--color-dark-3xl, #292929);
    text-align: center;

    /* h4 */
    font-family: Georgia;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 115%; /* 23px */
    letter-spacing: 1.2px;
}

.arrow-button-back {
    display: flex;
    width: 52px;
    height: 52px;
    padding: 14px 13px 15px 12px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 100px;
    border: 2px solid var(--color-dark-s, #CDCDCD);
    background: none;

    color: var(--color-dark-s, #CDCDCD);
    text-align: center;

    /* h4 */
    font-family: Georgia;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 115%; /* 23px */
    letter-spacing: 1.2px;
}
.arrow-button-back:hover {
    background: #FDDCC4;
    color: var(--color-dark-s, #CDCDCD);
}

.arrow-button-next {
    display: flex;
    width: 52px;
    height: 52px;
    padding: 14px 0 15px 0;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    border: 2px solid var(--color-primary, #F1CDB3);
    background: none;

    color: var(--color-dark-3xl, #292929);
    text-align: center;

    /* h4 */
    font-family: Georgia;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 115%; /* 23px */
    letter-spacing: 1.2px;
}
.arrow-button-next:hover {
    background: #FDDCC4;
    color: var(--color-dark-3xl, #292929);
}




.our-pets-cards {
  display: grid;
  grid-template-columns: repeat(4, 270px);
  gap: 40px;
  justify-content: center;
}




.arrow-button {
    width: 52px;
    height: 52px;
    padding: 0;
    border-radius: 100px;
    border: 2px solid #F1CDB3;
    background: transparent;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

}

.arrow-button:hover {
    background: #FDDCC4;
}

.arrow-button img {
  width: 14px;
  height: 6px;
}

.pets-button {
    display: flex;
    padding: 15px 45px;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    border-radius: 100px;
    background: var(--color-primary, #F1CDB3);
    text-decoration: none;

    color: var(--color-dark-3xl, #292929);
    font-family: Georgia;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 22.1px */
    letter-spacing: 1.02px;
}

.pets-button:hover {

    background: var(--color-primary-light, #FDDCC4);
}

.card {
  width: 270px;
  background: #FAFAFA;
  border-radius: 9px;
  padding-bottom: 30px;
  text-align: center;
}
.card:hover {
  background: #FFF;
}

.pets-image {
  width: 270px;
  height: 270px;
  object-fit: cover;
  border-radius: 9px 9px 0 0;
}

.pets-text {
  margin: 30px 0;
  color: #545454;
  font-family: Georgia;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1.2px;
}

.card-button {
  display: inline-block;
  padding: 15px 45px;
  border-radius: 100px;
  border: 2px solid #F1CDB3;
  background: transparent;
  text-decoration: none;

  color: #292929;
  font-family: Georgia;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 1.02px;
}

.card-button:hover {
    background: var(--color-primary-light, #FDDCC4);
}

.help {
  background: #FFF;
  padding: 80px 0 100px;
}

.help .container {
  padding: 0 87px;
}

.help-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}

.help-title {
    color: var(--color-dark-l, #545454);
    text-align: center;
    max-width: 310px;
    margin: 0;

    /* h3 */
    font-family: Georgia;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 2.1px;
}

.help-list {
  list-style: none;
  margin: 0;
  padding: 0;
}



.help-item {
  width: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  text-align: center;
}

@media (min-width: 1280px) {
  .help-list {
    display: grid;
    grid-template-columns: repeat(5, 120px); /* верх: 5 */
    column-gap: 120px;
    row-gap: 55px;
    justify-content: center;
  }

  /* нижний ряд: 4 элемента (6–9) в колонки 1–4 */
  .help-item:nth-child(6) { grid-column: 1; transform: translateX(120px); }
  .help-item:nth-child(7) { grid-column: 2; transform: translateX(120px); }
  .help-item:nth-child(8) { grid-column: 3; transform: translateX(120px); }
  .help-item:nth-child(9) { grid-column: 4; transform: translateX(120px); }
}


.help-item img {
  width: 60px;
  height: 60px;
}

.item-text {
  margin: 0;
  color: #545454;
  font-family: Georgia;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1.2px;
}

.donation {
  background: var(--color-light-l, #F6F6F6);
  padding: 80px 0 100px; 
}

.donation-content {
  max-width: 380px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.donation .container {
  padding-left: 131px;
  padding-right: 132px;

  display: flex;
  flex-direction: row;  
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.donation-image {
  order: -1;
  max-width: 505px;
  width: 100%; 
}

.donation-title {
    max-width: 300px;
    margin: 0;
    color: var(--color-dark-l, #545454);

    font-family: Georgia;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; 
    letter-spacing: 2.1px;
}

.donation-subtitle {
    color: var(--color-dark-l, #545454);
    margin: 0;

    font-family: Georgia;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%; 
    letter-spacing: 0.9px;
}

.credit-card {
    display: flex;
    gap: 10px;
    background: #F1CDB3;
    border-radius: 9px;
    align-items: center;
    padding: 10px 15px;
}
.credit-card-text {
    margin: 0;
    color: var(--color-dark-l, #545454);

    font-family: Georgia;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 115%; 
    letter-spacing: 1.2px;
}

.donation-text {
    color: var(--color-dark-m, #B2B2B2);
    margin: 0;

    font-family: Arial;
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
    line-height: 18px; 
}

.donation-image {
  width: 505px;
  height: auto;
}

.footer {
  background:
    url("noise_transparent.png") repeat,
    radial-gradient(237.5% 111.8% at 0% 0%, #5B483A 0%, #262425 100%),
    #211F20;
  padding: 40px 0 0;
}
.footer-pets {
  background:
    url("noise_transparent.png") repeat,
    radial-gradient(237.5% 111.8% at 0% 0%, #5B483A 0%, #262425 100%),
    #211F20;
  padding: 40px 0 0;
}

.footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-pets .container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer-content {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 160px;
}

.footer-image {
  display: block;
  margin-top: 65px;
  max-width: 300px;
  height: auto;
}

.contacts,
.location {
  display: flex;
  flex-direction: column;
  max-width: 320px;
}

.contacts .email {
  margin-top: 40px;
}

.contacts .phone {
  margin-top: 49px;
}


.location .pin:first-of-type {
  margin-top: 40px;
}

.location .pin:last-of-type {
  margin-top: 38px;
}

.email,
.phone,
.pin {
  display: flex;
  align-items: center;
  gap: 20px;
}
.footer-text {
    color: var(--color-primary, #F1CDB3);

    margin: 0;
    font-family: Georgia;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 115%; /* 23px */
    letter-spacing: 1.2px;
}

.footer-title {
    margin: 0;
    max-width: 280px;
    color: var(--color-light-xl, #FFF);

    font-family: Georgia;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 45.5px */
    letter-spacing: 2.1px;
}

@media (max-width: 767px) {
  .footer {
    padding: 30px 0 0;
  }

  .footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-pets {
    padding: 30px 0 0;
  }

  .footer-pets .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 40px;
    text-align: center;
  }

  .contacts,
  .location {
    align-items: center;
  }

  .email,
  .phone,
  .pin {
    justify-content: center;
  }

  .contacts .email {
    margin-top: 40px;
  }

  .contacts .phone {
    margin-top: 49px;
  }

  .location .pin:first-of-type {
    margin-top: 40px;
  }

  .location .pin:last-of-type {
    margin-top: 38px;
  }

  .footer-image {
    margin-top: 40px;
    width: 260px;
    max-width: 100%;
    height: auto;
    align-self: center;
  }
  
}

@media (max-width: 767px) {
  .our-pets-cards .card:nth-child(n+4) {
    display: none;
  }
}

@media (min-width: 1280px) {
  .container {
    padding: 0 40px;
  }
}

@media (max-width: 1279px) {
  .our-pets-cards {
    grid-template-columns: repeat(2, 270px);
  }
}

@media (max-width: 767px) {
  .our-pets-cards {
    grid-template-columns: 270px;
    gap: 30px;
  }
}

@media (max-width: 767px) {
  .donation {
    padding: 42px 0;
  }

  .donation .container {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 42px;
  }

  .donation-image {
    order: 2;
  }

  .donation-content {
    max-width: 300px;
    align-items: center;
    text-align: center;
    gap: 20px;
  }

  .donation-title {
    font-size: 25px;
    letter-spacing: 1.5px;
    max-width: 220px;
    margin: 0;
  }

  .donation-subtitle {
    margin: 0;
    font-size: 15px;
    line-height: 160%;
  }

  .credit-card {
    width: 100%;
    max-width: 281px;
    justify-content: center;
    gap: 10px;
    padding: 10px 15px;
    border-radius: 9px;
  }

  .credit-card-text {
    font-size: 15px;
    letter-spacing: 0.9px;
    line-height: 110%;
    margin: 0;
    white-space: nowrap;       
  }

  .donation-text {
    margin: 0;
    max-width: 280px;           
    text-align: justify;         
  }

  .donation-image {
    width: 260px;                
    max-width: 100%;
    height: auto;
    display: block;
  }
}

@media (max-width: 1279px) {
  .donation {
    padding: 80px 0 100px;
  }

  .donation .container {
    padding-left: 30px;
    padding-right: 30px;
  
    flex-direction: column;
    gap: 60px;
  }

  .donation-image {
    width: 505px;    
    max-width: 100%;
  }


  .donation-content {
    align-items: center;
    text-align: center; 
  }

}

@media (max-width: 1279px) {
  .help {
    padding: 80px 0 100px;
  }

  .help .container {
    padding: 0 30px;
  }

  .help-title {
    font-size: 35px; /* можно оставить */
    letter-spacing: 2.1px;
  }

  .help-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 55px 60px;
    justify-items: center;
  }

  .help-item {
    gap: 30px;
  }
}

@media (max-width: 767px) {
  .help {
    padding: 42px 0 42px; 
  }

  .help .container {
    padding: 0 10px;
  }

  .help-title {
    font-size: 25px;
    letter-spacing: 1.5px;
    max-width: 260px;
  }

  .help-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px 30px;
    justify-items: center;
  }

  .help-item {
    gap: 20px;
  }

  .help-item img {
    width: 50px;
    height: 50px;
  }

  .item-text {
    font-size: 15px;
    letter-spacing: 0;
  }
}

@media (max-width: 1279px) {

  .pets-cards .card:nth-child(3) {
    display: none;
  }


  .pets-cards {
    gap: 40px;
  }

  .slider {
    gap: 12px;
  }
}


@media (max-width: 767px) {
  .pets {
    padding: 60px 0;
  }

  .pets-title {
    font-size: 25px;
    letter-spacing: 1.5px;
    max-width: 300px;
  }


  .pets-cards .card:nth-child(2),
  .pets-cards .card:nth-child(3) {
    display: none;
  }


  .slider {
    flex-direction: column;
    gap: 20px;
  }


  .pets-cards {
    gap: 0;
    justify-content: center;
  }


  .arrow-button {
    order: 2;
  }

  
  .slider {
    position: relative;
  }


  .slider {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    justify-items: center;
    align-items: center;
    row-gap: 20px;
  }

  .pets-cards {
    grid-column: 1 / -1;
    grid-row: 1;
  }

  .arrow-button:first-child {
    grid-column: 1;
    grid-row: 2;
  }

  .arrow-button:last-child {
    grid-column: 2;
    grid-row: 2;
  }
}

@media (max-width: 767px) {
  .burger { display: inline-flex; }
  .nav-link { color: #CDCDCD; }
  .nav-link-pets { color: #CDCDCD; }
  .link-active { color: #FAFAFA; }
  .menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 320px;
    height: 100vh;
    background: #292929;
    transform: translateX(100%);
    transition: transform 0.25s ease;
    padding: 0;
    z-index: 20;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nav-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 0;
    padding: 0;
    list-style: none;
    align-items: center;
    text-align: center;
  }
  .nav-list-pets {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 0;
    padding: 0;
    list-style: none;
    align-items: center;
    text-align: center;
  }

  .nav-link {
    font-size: 32px;
    line-height: 1.6;
  }
  .nav-link-pets {
    font-size: 32px;
    line-height: 1.6;
  }

  .link-active {
    border-bottom: 3px solid #F1CDB3;
    padding-bottom: 6px;
  }

  .burger {
    position: fixed;
    top: 30px;
    right: 20px;
    z-index: 30;
  }

  .overlay {
    position: fixed;
    inset: 0;
    display: block;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.25s ease;
    z-index: 10;
  }

  .burger-toggle:checked ~ .menu {
    transform: translateX(0);
  }

  .burger-toggle:checked ~ .overlay {
    opacity: 1;
    pointer-events: auto;
  }
}

@media (max-width: 767px) {
  .start-screen-content {
    flex-direction: column;
    text-align: center;
    padding-top: 60px;
  }
}
@media (max-width: 767px) {
  .hero-content {
    flex: 0 0 auto;
  }
}

/* TABLET: 768–1279 */
@media (min-width: 768px) and (max-width: 1279px) {

  .start-screen {
    min-height: 1165px; /* как в макете у Shelter обычно для планшета */
  }

  .start-screen-content {
    padding-top: 60px;       /* на планшете меньше отступ */
    flex-direction: column;  /* текст сверху, щенок снизу */
    align-items: center;
    text-align: center;
    gap: 100px;              /* расстояние между текстом и щенком */
  }

  .hero-content {
    flex: 0 0 auto;
    max-width: 460px;
    padding-bottom: 0;       /* убираем десктопный отступ */
  }

  .hero-button {
    margin: 0 auto;          /* чтобы кнопка была по центру */
  }

  .hero-image {
    align-self: center;      /* на планшете щенок по центру */
    width: 569px;            /* под макет */
    max-width: 100%;
  }
}

